@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin whiteCircle {
	background-color: $color-white;
  	border-radius: 50%;
}

@mixin lessThan($deviceWidth){
	@media screen and (max-width:#{$deviceWidth}){
		@content;
	}
}
  